.tag-list {
	font-size: 20px;
	background-color: #c5dde1;
	border-radius: 2px;
	padding: 10px;
	display: list-item;
	line-height: 2em;
	list-style: none;
	border: solid 1px #405f22;
}

.tag {
	text-decoration: none;
	color: #c5dde1;
	background-color: #15755a;
	margin: 5px;
	padding: 3px;
	border-radius: 5px;
}

@media (min-width: 800px) {
	.tag-list {
		max-width: 230px;
	}
}