@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html {
	overflow: hidden;
}

body {
	background: #96acbe;
	height: inherit;
	background-image: url('./mints.png');
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 20%;
}

.project,
.ptags,
.home {
  	height: 100vh;
	padding-top: 80px;
  	align-items: center;
  	justify-content: center;
  	font-size: 3rem;
    width: 95%;
    margin: auto auto;
}

table {
	display: flex;
	height: 100%;
	flex-direction: column;
}

tbody {
	flex: 1;
	overflow: auto;
	align-items: center;
	justify-content: center;
}

.intro-container {
	min-height: 300px;
	border-radius: 5px;
	border-bottom: solid #15755a 50px;
	padding: 30px;
	margin: 10px;
	background: #63a79b;
	display: grid;
	justify-content: center;
	grid-gap: 10px;
	align-items: start;

	grid-template-columns: 1fr;
	grid-template-rows: auto auto;

	grid-template-areas:
		"img"
		"desc"
		"skills";
	
}

.proj-container {
	min-height: 300px;
	border-radius: 5px;
	border-bottom: solid #15755a 50px;
	padding: 30px;
	margin: 10px;
	background: #63a79b;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-gap: 10px;
	align-items: start;

	grid-template-areas:
		"title"
		"images"
		"desc"
		"tags";
	
}

.ptag-container {
	width: inherit;
	min-height: 300px;
	border-radius: 5px;
	border-bottom: solid #15755a 50px;
	padding: 30px;
	margin: 10px;
	background: #63a79b;
}

@media (min-width: 800px) {
	.content {
		margin-left: 260px;
	}

	.intro-container {
		grid-template-columns: 1fr;

		grid-template-areas: 
		"desc img"
		"desc skills";
	}

	.proj-container {
		grid-template-areas:
		"title title"
		"images images"
		"desc tags";
	}
}

.intro-desc {
	font-size: 1rem;
	grid-area: desc;
	text-align: justify;
	margin: 5px;
}

.intro-img {
	grid-area: img;
}

.intro-skills {
	background: yellowgreen;
	grid-area: skills;
}

.proj-title {
	font-size: 30px;
	font-family: 'Comfortaa', cursive;
	grid-area: title;
}

.proj-desc {
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	grid-area: desc;
}

.proj-tags {
	grid-area: tags;
}

.proj-images {
	grid-area: images;
}

.ptags-proj {
	font-size: 20px;
}

h2 {
	background: #15755a;
	border-radius: 10px;
	padding: 7px;
	width: fit-content;
	color: #c5dde1;
	font-family: 'Comfortaa', cursive;
	font-weight: 600;
	font-size: 30px;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

.inner {
	background: #c5dde1;
	border-radius: 4px;
	border: solid 4px #15755a;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
}

img {
	display: block;
	margin-left: auto;
  	margin-right: auto;
	border-radius: 7px;
	border: solid 10px #15755a;
}

#avatar {
	content: url('./avatar.jpg');
	max-width: 200px;
}