@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.project,
.test,
.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background: #96acbe;
}

.intro-container {
	max-width: 1000px;
	min-height: 300px;
	border-radius: 5px;
	border-bottom: solid #15755a 50px;
	padding: 30px;
	margin: 10px;
	background: #63a79b;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-gap: 10px;

	grid-template-columns: 1fr;
	grid-template-rows: auto auto;

	grid-template-areas:
		"img"
		"desc"
		"skills";
	
}

.proj-container {
	max-width: 1000px;
	min-height: 300px;
	border-radius: 5px;
	border-bottom: solid #15755a 50px;
	padding: 30px;
	margin: 10px;
	background: #63a79b;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-gap: 10px;
	align-items: start;

	grid-template-areas:
		"title"
		"desc"
		"tags";
	
}

@media (min-width: 800px) {
	.content {
		margin-left: 260px;
	}

	.intro-container {
		grid-template-columns: 1fr;

		grid-template-areas: 
		"desc img"
		"desc skills";
	}

	.proj-container {
		grid-template-areas:
		"title title"
		"desc tags";
	}
}

.intro-desc {
	font-size: 1rem;
	grid-area: desc;
}

.intro-img {
	background: thistle;
	grid-area: img;
}

.intro-skills {
	background: yellowgreen;
	grid-area: skills;
}

.proj-title {
	font-size: 30px;
	grid-area: title;
}

.proj-desc {
	font-size: 20px;
	grid-area: desc;
}

.proj-tags {
	grid-area: tags;
}